@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.9rem;
  font-family: "Inter", sans-serif;
}

.create {
  margin: 1.5rem 0 1.5rem 0rem;
}

.name {
  font-size: 2.5rem;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
}

.grid1 {
  border-width: 1px;
  border-radius: 0.5rem;
  background: #ffff;
}

.bordname {
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sname {
  font-size: 2rem;
  font-weight: 600;
}

.aname {
  font-size: 1.2rem;
  font-weight: 600;
}

.inpbar {
  padding: 1rem;
}

.grid2 {
  border-width: 1px;
  border-radius: 0.5rem;
  background: #ffff;
  display: flex;
  justify-content: center;
}

.main {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}

.ctext {
  word-break: break-all;
}


.switch {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contibutename {
  padding: 1rem;
}

.cname {
  font-size: 2.5rem;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 700;
}

.ctext {
  padding: 1rem;
  font-family: "Inter";
}

.votediv {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.vote {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  text-align: center;
  cursor: pointer;
}

.drawer {
  display: none;
}

.nontselect {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 1150px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.bluebox {
  border: 1px solid #a588ca;
  border-radius: 5px;
  padding: 1px;
  background-color: #fbf3fe;
}

.pretext {
  padding: 1px;
  font-family: "Inter", sans-serif;
}
.contribution {
  word-wrap: break-word;
  overflow-wrap: break-word;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.switchcont {
  display: flex;
}

.nontselect {
  display: flex;
  align-items: center;
  justify-content: center;
}


.notselectcont{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 600px) {
  .name {
    font-size: 2rem;
  }

  .switch {
    padding: 0.5rem;
  }

  .switchcont {
    display: flex;
    flex-direction: column;
  }
}
